<!DOCTYPE html>
<html>
  <head>
    <title>JV Cars</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Your Cars</h1>
    <p>Your search results brought back: @Model.GetRecipient()@Model.GetSender()</p>
  </body>
</html>
