<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Homepage</title>
  </head>
  <body>
    <h2>Welcome to JV Cars</h2>
    <a href="/addcar">Add a new car</a>
  </body>
</html>
